<!DOCTYPE html>


<section class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center"><img class="rounded-circle"
  src="https://<%= username.id && username.avatar ? `cdn.discordapp.com/avatars/${username.id}/${username.avatar}.png` : `discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png` %>"
  width="150px" height="150px" style="margin-top: 53px;box-shadow: 0px 0px 20px;">
<h1
  style="font-family: Roboto, sans-serif;color: rgb(255,255,255);font-size: 36px;padding-top: 9px;margin-top: 77px;">
  <%= username.username %>#<%= username.discriminator %></h1>

</section>




<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="card.css">

</head>


<% fullserverlist.forEach(document =>{%>


<body style="width: 100%;height: 100vh;background-color: #2e3440;">

  <section class="text-center rounded child parent"
   style="margin: 59px;margin-top: 49px;margin-right: 16px;padding: 10px;background-color: #4c566a;width: 370px;height: 199px; border-radius: 30px;border-width: 0px;  box-shadow: 0px 0px 20px #222325;"><img class="rounded-circle" src="https://<%= document.id && document.icon ? `cdn.discordapp.com/icons/${document.id}/${document.icon}.png` : `discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png` %>" style="width: 100px;height: 100px; color: #4c566a !important;">
    <p style="color: rgb(255,255,255);font-size: 22px;"><%= document.name %></p><a class="btn btn-secondary" type="button" style="margin-top: -10px;background-color: #2e3440;" href="/dashboard/server/<%= document.id %>/">View Server</a></section>
  
  </section>


  <!-- OLD 


  <section class="text-center border rounded border-secondary child parent"
    style="background-color: #4c566a;width: 272px;height: 170px; padding: 10px; margin: 59px;margin-top: 49px;margin-right: 16px;border: 0px none #4c566a ;">
    <img class="rounded-circle"
      src="https://<%= document.id && document.icon ? `cdn.discordapp.com/icons/${document.id}/${document.icon}.png` : `discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png` %>"
      style="margin: 0px;height: 100px;width: 100px;">
    <h1 class="text-center" style="color: rgb(255,255,255);font-size: 27px;"><%= document.name %></h1>
    <a type="button" class="btn btn-secondary" href="/dashboard/server/<%= document.id %>/">View Server</a>
    <style>
      .btn {

        color: white;
        background-color: #4c566a;

      }
    </style>
  </section>
  </div>
  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>


<%})%>